.todo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-bottom: 40px;
}

.todo-input {
    height: 45px;
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 20px;
    border: 0;
    border-radius: 20px;
    color: #373737;
    background-color: #CDCDCD;
}

.form-buttons {
    width: 230px;
    display: flex;
    justify-content: space-between;
}

.form-buttons button {
    height: 45px;
    width: 90px;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    font-size: 20px;
    color: #373737;
    outline: none;
    background-color: #CDCDCD;
    cursor: pointer;
}

.form-buttons button:hover {
    background-color: #B9B9B9;
}

.form-buttons button:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) inset;
}