.todo-form {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-bottom: 40px;
}

.todo-input {
    height: 50px;
    width: 500px;
    padding: 10px;
    outline: none;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    color: #373737;
    background-color: #CDCDCD;
}

.todo-button {
    height: 50px;
    width: 80px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    color: #373737;
    outline: none;
    background-color: #CDCDCD;
    cursor: pointer;
}

.todo-button:hover {
    background-color: #B9B9B9;
}

.todo-button:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) inset;
}