.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    min-width: 700px;
    margin: 50px auto;
}

.todo-container h1 {
    margin-bottom: 30px;
    text-align: center;
}