.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 700px;
    margin: 50px auto;
    overflow-y: auto;
}

.todo-container h1 {
    margin-bottom: 30px;
    text-align: center;
}

.todo-container::-webkit-scrollbar {
    width: 15px;
}

.todo-container::-webkit-scrollbar-track {
    background-color: #CDCDCD;
    border-radius: 10px;
}

.todo-container::-webkit-scrollbar-thumb {
    background-color: #373737;
    border-radius: 10px;
    border: 3px solid #CDCDCD;
}