.todo-note {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    margin-bottom: 20px;
}

.todo-note p {
    width: 500px;
    min-height: 45px;
    font-size: 20px;
    color: #373737;
    overflow-wrap: break-word;
    padding: 0 10px;
}

.todo-note button {
    height: 45px;
    width: 80px;
    border: 0;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #CDCDCD;
    color: #373737;
    font-family: sans-serif;
    outline: none;
    cursor: pointer;
}

.todo-note button:hover {
    background-color: #B9B9B9
}

.todo-note button:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) inset;
}


